<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students and Supervisors</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>New Student</h1>
<div id="newStudentForm"></div>

<h1>Students</h1>
<span class="legend">Name</span><span class="legend">Email</span><span class="legend">Supervisor</span>
<div id="studentForm"></div>

<script src="/scripts.js"></script>
</body>
</html>